{% extends "base.html" %}
{% block content %}
<section id="home">
    <div class="hp-mainthing">
        <div class="hp-text">
            <div class="hp-title">
                <h1>
                    E3 Center
                    <svg><use href="/assets/sprite.svg#svg-e3-logo"></use></svg>
                </h1>
                <span>Directed by Professor I-Yun Lisa Hsieh</span>
            </div>

            <div class="hp-3e">
                <p>Energy</p>
                <p>Economics</p>
                <p>Environment</p>
            </div>
            
            <a href="#about-us" class="hp-about-us skewed-block" b-role="btn" b-hoverable>
                About Us
            </a>
        </div>

        {% include 'images/home.svg' %}
    </div>

    <div class="hp-scroll-for-more">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 14 20" width="0.875rem">
            <path class="fill-m" d="M12,2c-1.4-1.4-3-2-5-2S3.4,0.7,2,2s-2,3-2,5v6c0,1.9,0.7,3.6,2,5c1.4,1.4,3,2,5,2s3.6-0.7,5-2c1.4-1.4,2-3,2-5 V7C14,5.1,13.3,3.4,12,2z M12,13c0,1.4-0.5,2.6-1.5,3.5c-1,1-2.1,1.5-3.5,1.5s-2.6-0.5-3.5-1.5c-1-1-1.5-2.1-1.5-3.5V7 c0-1.4,0.5-2.6,1.5-3.5C4.5,2.5,5.6,2,7,2c1.4,0,2.6,0.5,3.5,1.5c1,1,1.5,2.1,1.5,3.5V13z"/>
            <polyline class="ani-scroll stroke-m stroke-2" points="7 2.1 7 7"/>
          </svg>
        <p>Scroll for more!</p>
    </div>

    <div class="hp-last-update">
        Last Update: <span class="hp-last-update-time">{{ updated_time }}</span></br>
        (More features in development!)
    </div>
</section>

<main>
    <section id="about-us">
        <div class="section-title">
            <h2>About Us</h2>
            <svg><use href="/assets/sprite.svg#svg-e3-logo"></use></svg>
        </div>

        <h3>The NTU E3 Research Center</h3>
        <section class="abt-section">
            {{ articles['about'] }}
        </section>
    </section>

    <section id="members">
        
    </section>

    <section id="research">
        <div class="section-title-block">
            <div class="section-title">
                <h2>Research</h2>
                <svg><use href="/assets/sprite.svg#svg-e3-logo"></use></svg>
            </div>

            <div class="section-subtitle">
                <div style="color: var(--r-yellow);">
                    Energy
                    <svg width="0.9375rem"><use href="/assets/sprite.svg#svg-energy"></use></svg>
                </div>
                <div style="color: var(--r-orange);">
                    Economics
                    <svg width="0.625rem"><use href="/assets/sprite.svg#svg-economics"></use></svg>
                </div>
                <div style="color: var(--r-green);">
                    Environment
                    <svg width="1.125rem"><use href="/assets/sprite.svg#svg-environment"></use></svg>
                </div>
            </div>
        </div>

        {% for research in structures['research'] %}
        <h3>{{ research['sectionTitle'] }}</h3>
        <section class="res-section">
            {% for topic in research['topics'] %}
            <div class="res-block">
                <div class="res-fields-block skewed-block" b-role="block">
                    <svg class="res-fields">
                        <use data-check="{{ topic['fields']['energy'] }}" href="/assets/sprite.svg#svg-field-energy"></use>
                        <use data-check="{{ topic['fields']['economics'] }}" href="/assets/sprite.svg#svg-field-economics"></use>
                        <use data-check="{{ topic['fields']['environment'] }}" href="/assets/sprite.svg#svg-field-environment"></use>
                    </svg>

                    <a class="res-img-block skewed-block" b-role="block">
                        {% include topic['image'] %}
                    </a>

                    <div class="res-info">
                        {% for bigTag in topic['bigTags'] %}
                        <div class="res-tag">
                            <span class="res-tag-icon">#</span>
                            <span class="res-tag-text">{{ bigTag }}</span>
                        </div>
                        {% endfor %}

                        <div class="res-info-minor">
                            {% for smallTag in topic['smallTags'] %}
                            {{ smallTag }}{% if not loop.last %}, {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </section>
        {% endfor %}
    </section>

    <section id="publications">
        <div class="section-title">
            <h2>Publications</h2>
            <svg><use href="/assets/sprite.svg#svg-e3-logo"></use></svg>
        </div>

        {% for publication in structures['publications'] -%}
        <h3>{{ publication['sectionTitle'] }}</h3>
        <section class="publi-section">
            <svg class="publi-quote"><use href="/assets/sprite.svg#svg-quote"></use></svg>

            <div class="publi-block-wrapper">
                {% for item in publication['items'][-1:-8:-1] -%}
                <div class="publi-block">
                    <div class="publi-date">
                        <div class="publi-date-mm">{{ item['month'] }}</div>
                        <div class="publi-date-yy">{{ item['year'] }}</div>
                    </div>

                    <div class="publi-info">
                        {% if item['link'] -%}
                        <a class="publi-title-block" target="_blank" href="{{ item['link'] }}">
                            <span class="publi-title">
                                {{ item['title'] }}
                            </span>
                            
                            <svg><use href="/assets/sprite.svg#svg-arrow-top-right"></use></svg>
                        </a>
                        {% else -%}
                        <a class="publi-title-block">
                            <span class="publi-title">
                                {{ item['title'] }}
                            </span>
                        </a>
                        {% endif -%}
                        
                        {% if item['subTitle'] -%}
                        <div class="publi-subtitle">
                            {{ item['subTitle'] }}, Vol. {{ item['volume'] }}.
                        </div>
                        {% endif -%}
                    </div>
                </div>
                {% endfor %}
            </div>

            <a class="publi-more skewed-block" href="https://scholar.google.com.tw/citations?user=tUbPb-QAAAAJ" target="_blank" b-role="btn" b-hoverable>
                <div>More at Google Scholar</div>
                <svg><use href="/assets/sprite.svg#svg-arrow-top-right"></use></svg>
            </a>
        </section>
        {% endfor %}
    </section>

    <section id="news">
        <div class="section-title">
            <h2>News</h2>
            <svg><use href="/assets/sprite.svg#svg-e3-logo"></use></svg>
        </div>

        {% for news in structures['news'] -%}
        <h3>{{ news['sectionTitle'] }}</h3>
        <section class="publi-section">
            <svg class="publi-quote"><use href="/assets/sprite.svg#svg-quote"></use></svg>

            <div class="publi-block-wrapper">
                {% for item in news['items'][-1:-7:-1] -%}
                <div class="publi-block">
                    <div class="publi-date">
                        <div class="publi-date-mm">{{ item['month'] }}</div>
                        <div class="publi-date-yy">{{ item['year'] }}</div>
                    </div>

                    <div class="publi-info">
                        {% if item['link'] -%}
                        <a class="publi-title-block" target="_blank" href="{{ item['link'] }}">
                            <span class="publi-title">
                                {{ item['title'] }}
                            </span>
                            
                            <svg><use href="/assets/sprite.svg#svg-arrow-top-right"></use></svg>
                        </a>
                        {% else -%}
                        <a class="publi-title-block">
                            <span class="publi-title">
                                {{ item['title'] }}
                            </span>
                        </a>
                        {% endif -%}
                        
                        {% if item['subTitle'] -%}
                        <div class="publi-subtitle">
                            {{ item['subTitle'] }}, Vol. {{ item['volume'] }}.
                        </div>
                        {% endif -%}
                    </div>
                </div>
                {% endfor %}
            </div>

            <a class="publi-more skewed-block" href="/news/" b-role="btn" b-hoverable>
                <div>Archived News</div>
                <svg><use href="/assets/sprite.svg#svg-arrow-right"></use></svg>
            </a>
        </section>
        {% endfor %}
    </section>

    <section id="group-life">
        <div class="section-title">
            <h2>Group Life</h2>
            <svg><use href="/assets/sprite.svg#svg-e3-logo"></use></svg>
        </div>

        <section class="glf-section" which="slider">
            <div class="glf-slider-header">
</main>
{% endblock %}